@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");

//Font Principal
$fontPrincipal: "Roboto", sans-serif;

//Breakpoints
$mobile: 760px;
$tablet: 1050px;

//Cores
$corFundo: #f5f6fa;
$corHeader: #182c61;
$corButton: #44bd32;
$corButonHover: #4cd137;
$corTextWhite: #ffffff;
